.col-xl-12
  .m-portlet.m-portlet--mobile.m-portlet--rounded
    .m-portlet__head
      .m-portlet__head-caption
        .m-portlet__head-title
          %h3.m-portlet__head-text
            Vous avez #{@users.count} #{'utilisateur'.pluralize(@users.count)}
      .m-portlet__head-tools
        %ul.m-portlet__nav
          %li.m-portlet__nav-item
            .m-dropdown.m-dropdown--inline.m-dropdown--arrow.m-dropdown--align-right.m-dropdown--align-push{"aria-expanded" => "true", "m-dropdown-toggle" => "hover"}
              %a.m-portlet__nav-link.btn.btn-lg.btn-secondary.m-btn.m-btn--icon.m-btn--icon-only.m-btn--pill{:href => new_user_path}
                %i.la.la-plus.m--font-brand

    .m-portlet__body
      / begin: Datatable
      #m_datatable_latest_orders.m_datatable.m-datatable.m-datatable--default.m-datatable--loaded.m-datatable--scroll{:style => ""}
        %table.m-datatable__table{:style => "display: block;"}
          %thead.m-datatable__head
            %tr.m-datatable__row{:style => "left: 0px;"}
              %th.m-datatable__cell--center.m-datatable__cell.m-datatable__cell--check{"data-field" => "RecordID"}
                %span{:style => "width: 40px;"}
                  %label.m-checkbox.m-checkbox--single.m-checkbox--all.m-checkbox--solid.m-checkbox--brand
                    Nom
              %th.m-datatable__cell.m-datatable__cell--sort{"data-field" => "OrderID", "data-sort" => "asc"}
                %span{:style => "width: 150px;"}
                  Email
              %th.m-datatable__cell.m-datatable__cell--sort{"data-field" => "ShipDate"}
                %span{:style => "width: 130px;"} Rôle
              -# %th.m-datatable__cell.m-datatable__cell--sort{"data-field" => "Status"}
              -#   %span{:style => "width: 100px;"} Status
              -# %th.m-datatable__cell.m-datatable__cell--sort{"data-field" => "Type"}
              -#   %span{:style => "width: 100px;"} Type
              %th.m-datatable__cell.m-datatable__cell--sort{"data-field" => "Actions"}
                %span{:style => "width: 110px;"} Actions
          %tbody.m-datatable__body.ps.ps--active-y
            - @users.each_with_index do |user, index|
              %tr.m-datatable__row{:style => "left: 0px;", class: (index % 2 == 0 ? '' : 'm-datatable__row--even')}
                %td.m-datatable__cell.m-datatable__cell.m-datatable__cell--check{"data-field" => "RecordID"}
                  %span
                    = user.name


                %td.m-datatable__cell{"data-field" => "ShipName"}
                  %span
                  = user.email
                %td.m-datatable__cell{"data-field" => "ShipDate"}
                  %span{:style => "width: 130px;"}= user.role.name
                %td.m-datatable__cell{"data-field" => "Actions"}
                  %span{:style => "overflow: visible; position: relative; width: 110px;"}
                    %a.m-portlet__nav-link.btn.m-btn.m-btn--hover-accent.m-btn--icon.m-btn--icon-only.m-btn--pill{:href => edit_user_path(user), :title => "Edit details"}
                      %i.la.la-edit
                    = link_to user_path(user), method: :delete, class: 'm-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill', data: { confirm: 'Êtes-vous sûr ?' } do
                      %i.la.la-trash

        .m-datatable__pager.m-datatable--paging-loaded.clearfix
          = will_paginate @users
          .m-datatable__pager-info
            - if @users.present?
              %span.m-datatable__pager-detail
                #{current_user.childrens.order(:id).pluck(:id).index(@users.order(:id).first.id) + 1} - #{current_user.childrens.order(:id).pluck(:id).index(@users.order(:id).last.id) + 1} sur #{@users.count} résultats
      / end: Datatable
