.col-xl-12
  .m-portlet.m-portlet--mobile.m-portlet--rounded
    .m-portlet__head
      .m-portlet__head-caption
        .m-portlet__head-title
          %h3.m-portlet__head-text
            Vous avez #{@suppliers.count} fournisseurs
      .m-portlet__head-tools
        %ul.m-portlet__nav
          %li.m-portlet__nav-item
            .m-dropdown.m-dropdown--inline.m-dropdown--arrow.m-dropdown--align-right.m-dropdown--align-push{"aria-expanded" => "true", "m-dropdown-toggle" => "hover"}
              %a.m-portlet__nav-link.btn.btn-lg.btn-secondary.m-btn.m-btn--icon.m-btn--icon-only.m-btn--pill{:href => new_supplier_path}
                %i.la.la-plus.m--font-brand
    .m-portlet__body
      #m_datatable_latest_orders.m_datatable.m-datatable.m-datatable--default.m-datatable--loaded.m-datatable--scroll{:style => ""}
        %table.m-datatable__table{:style => "display: block;"}
          %thead.m-datatable__head
            %tr.m-datatable__row{:style => "left: 0px;"}
              %th.m-datatable__cell--center.m-datatable__cell.m-datatable__cell--check{"data-field" => "RecordID"}
                %span{:style => "width: 40px;"}
                  %label.m-checkbox.m-checkbox--single.m-checkbox--all.m-checkbox--solid.m-checkbox--brand
                    Statut
              %th.m-datatable__cell.m-datatable__cell--sort{"data-field" => "OrderID", "data-sort" => "asc"}
                %span{:style => "width: 150px;"}
                  Société
              %th.m-datatable__cell.m-datatable__cell--sort{"data-field" => "ShipDate"}
                %span{:style => "width: 130px;"} Documents
              %th.m-datatable__cell.m-datatable__cell--sort{"data-field" => "Actions"}
                %span{:style => "width: 110px;"} Actions
          %tbody.m-datatable__body.ps.ps--active-y
            - @suppliers.each_with_index do |supplier, index|
              %tr.m-datatable__row{:style => "left: 0px;", class: (index % 2 == 0 ? '' : 'm-datatable__row--even')}
                %td.m-datatable__cell--center.m-datatable__cell.m-datatable__cell--check{"data-field" => "RecordID"}
                  %span{:style => "width: 40px;"}
                    - if supplier.is_valid
                      %i.la.la-check
                    - else
                      %i.la.la-times
                %td.m-datatable__cell{"data-field" => "ShipName"}
                  %span{:style => "width: 150px;"}
                  %span=supplier.try(:name).try(:capitalize)
                  %span=supplier.try(:siret)
                  %span Ajouté le #{I18n.l(supplier.try(:created_at), format: :short)}
                  %span Invalide depuis #{I18n.l(supplier.try(:invalid_at), format: :short)}
                %td.m-datatable__cell{"data-field" => "ShipDate"}
                  %span{:style => "width: 130px;"}
                    %span.badge{class: (supplier.urssaf.present? ? 'badge-success' : 'badge-danger')} Urssaf
                    %span.badge{class: (supplier.kbis.present? ? 'badge-success' : 'badge-danger')} Kbis
                    %span.badge{class: (supplier.lnte.present? ? 'badge-success' : 'badge-danger')} Lnte
                %td.m-datatable__cell{"data-field" => "Actions"}
                  %span{:style => "overflow: visible; position: relative; width: 110px;"}
                    %a.m-portlet__nav-link.btn.m-btn.m-btn--hover-accent.m-btn--icon.m-btn--icon-only.m-btn--pill{:href => edit_supplier_path(get_supplier_id(supplier)), :title => "Edit details"}
                      %i.la.la-edit
                    = link_to supplier_path(supplier), method: :delete, class: 'm-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill', data: { confirm: 'Êtes-vous sûr ?' } do
                      %i.la.la-trash
        .m-datatable__pager.m-datatable--paging-loaded.clearfix
          = will_paginate @suppliers
          .m-datatable__pager-info
            %span.m-datatable__pager-detail
            #{current_user.companies.order(:id).pluck(:id).index(@suppliers.order(:id).first.id) + 1} - #{current_user.companies.order(:id).pluck(:id).index(@suppliers.order(:id).last.id) + 1} sur #{@suppliers.count} résultats
